<div id="<%= dom_id post %>">
  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= post.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

</div>
